body {
    margin: 0;
}

#logo {
    /*thay doi kich thuoc text*/
    font-size: 40px;
    /*Dung de thay cach hien thi cua text
        uppercase: Viet hoa het
        lowercase: Viet thuong het
        capitalize: Viet hoa chu cai dau cua tu ngu
    */
    text-transform: uppercase;

    /*
    Hien thi text dam nhat, gia tri cua no 100->900
    bold<-> 700
    */
    font-weight: bold;
    /*
    Can chinh phan tu html sang trai
    */
    float: left;
    /*margin:　can chinh khoang cach tu border cua phan tu html ra ngoai
    1. Tat ca khoang cach top/right/botom/lef baang nhau thi dung moi margin
    2. Top/botom bang nhau, left/right bang nhau: margin 4px 8px
    apx:top/botom
    bpx:right/left;
    3. top/botom ko bang nhau, left/right bang nhau
        margin:apx bpx cpx
        apx:top
        bpx: left/right
        cpx:bottom 
    4. 4 khoang cach khac nhau
        margin: apx bpx cpx dpx
            apx:top, bpx:right, cpx:bottom, dpx:left 
    */
    /* margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 40px; */

    margin: 40px 0 40px 30px;
}

.login-register {
    /*can chinh phan tu sang phai*/
    float: right;
    margin-top: 50px;
    margin-right: 30px;
    margin-bottom: 50px;
}

/*
Select toi tat ca cac phan tu cac cap
*/
.login-register a{
    font-size: 18px;
    /*
        underline:gach chan
        overline: gach tren dau
        line-through: gach huy
        none: bo cac gia tri css
    */
    text-decoration: none;
    color: black;
}

/*
2 cach de clear khi su dung thuoc tinh clear 
*/
/*cach 1*/
nav{
    /*clear 2 float left, right o tren di*/
    clear: both;
    /*Mau nen cua phan tu html*/
    background-color: brown;
}

/*Cach 2*/
/* header{
    overflow: auto;
} */

.menu{
    margin: 0;
    padding: 0;
    list-style-type: none;

    /*Dung display flex dung de phan chia bo cuc trang giua cac thanh phan*/
    display: flex;
}

/*Selector toi phan tu con cap 1*/
.menu > li > a{
    /*dac diem cua display inline
        - width: bang dung noi dung no chua
        - ko su dung duoc thuoc tinh css nhu width, height, margin, padding
        
    Dac diem cua display block:
        - width = 100% cua phan tu cha chua no
        - su dung duoc cac thuoc tinh css width, height, margin, padding
    Dac diem cua display inline-block
        - width, height = dung noi dung chua no
        - su dung duoc cac thuoc tinh css: width, height, margin, padding
        
        */
    display: inline-block;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;

    /*Padding la khoang cach tu border di vao content ben trong*/
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Su kien khi con tro chuot nam tren phan tu html*/
.menu > li > a:hover{
    background-color: orange;
}

.sub-menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
    /*
    position: absolute: cung giong nhu position relative
    - Toa do goc
        +TH1: phan tu cha chua no co position relative -> toa do goc cua no la toa do cua phan tu cha
        *Th2: Khong co phan tu cha nao co position relative -> toa do goc la toa do man hinh
    */
    position: absolute;
    top: 42px;
    left: 0;
    min-width: 300px;
    /*
    box-shadow: apx bpx cpx color
        - apx:  do bong sang ben phai
        - bpx: do bong xuong duoi
        - cpx: do mo` cua bong
    */
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    background-color: white;

    /*Lam xuyen thau phan tu
        gia tri; tu 0->1
    */
    opacity: 0;

    /*
    ko bat su kien hover
    */
    visibility: hidden;
    
    /*thoi gian cua 1 chuyen dong*/
    transition: 500ms;
}

.menu > li{
    /*
    position: ralative:
        - Bien phan tu html thanh phan tu co toa do 2d (su dung thuoc tinh css: top, left, right, bottom de thay doi vi tri)
        - Toa do goc ban dau: vi tri hien tai cua no
    */
    position: relative;
}

.sub-menu li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 15px;
}

.sub-menu li a:hover{
    background-color: #ccc;
}

.menu > li:hover .sub-menu{
    opacity: 1;
    visibility: visible;
}

.content{
    display: flex;
    margin-top: 50px;
}

.content-left{
    width: 350px;
    /*
        content-box: kich thuoc phan tu html tinh tu content
        border-box: tinh tu border di vao
    */
    box-sizing: border-box;
    padding:0 15px;
    /* height: 600px; */
    /* background-color: gray; */
}

.sidebar{
    /*
        border: Apx type color
        Apx: do day duong vien
        type: loai duong vien solid, dashed, dotted
        color: mau sac duong vien text, ma mau hex
    */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.title-sidebar{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.menu-sidebar{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu-sidebar li a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 17px;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

/*
    Selector toi thang con cuoi cung de them thuoc tinh thi dung last-child
*/
.menu-sidebar li:last-child a{
    border-bottom: 0;
}

/*
    Selector toi phan tu con dau tien
*/
.menu-sidebar li:first-child a{
    color: pink;
}

/*
    selector toi 1 phan tu con bat ky
*/
.menu-sidebar li:nth-child() a{
    color: green;
}

/*
    selector theo con so chan 
*/
.menu-sidebar li:nth-child(2n) a{
    color: orange;
}


/*
    selector theo con so  le
*/
.menu-sidebar li:nth-child(2n+1) a{
    color: purple;
}

.content-right{
    width: calc(100% - 350px);
    box-sizing: border-box;
    padding:0 15px;

    /* background-color: bisque; */
}

.sidebar_filter{
    margin-top: 40px;
}

.sidebar_filter .menu-sidebar li{
    padding: 15px;

}

.sidebar_filter .menu-sidebar li label{
    font-size: 18px;
    display: block;
    cursor: pointer;
    padding-left: 50px;
    position: relative;
}

.sidebar_filter .menu-sidebar li input[type="checkbox"]{
    /*
        An phan tu html di
    */
    display: none;
}

/*
    Before va after cua html: content bo sung cho cach hien thi cua phan tu html
*/
.sidebar_filter .menu-sidebar li label::before{
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: -2px;
}

/*
    1/Su kien checked cua checkbox hoac radio
    2/ Selector den phan tu html cung cap va dung ke sau
*/
.sidebar_filter .menu-sidebar li input[type="checkbox"]:checked + label::after{
    content: "";
    display: block;
    width: 6px;
    height: 13px;
    border-bottom: 2px solid orangered;
    border-right: 2px solid orangered;
    position: absolute;
    left: 10px;
    top: 2px;
    /*
        xoay phan tu html bao nhieu do
    */
    transform: rotate(45deg);
}

.sidebar_filter .menu-sidebar li input[type="checkbox"]:checked + label::before{
    border-color: orangered;
}

.category-name{
    margin: 0;
    border-bottom: 1px solid #ccc;
    font-size: 28px;
    padding: 11px;
}

.products{
    display: flex;
    /*
        Dung de hien thi cac phan tu con theo dang hang, cot
        row: hang
        column:cot
    */
    flex-direction: row;
    /*
        Cho phep phan tu con xuong dong khong khi ma tong width cac phan tu con lon hon chieu dai cua phan tu cha
            no-wrap: ko cho phep xuong dong
            wrap: cho phep xuong dong
    */
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.card{
    width: calc(100%/4);
    padding: 0 15px;
    /*
        box-sizing: content-box -> kich thuoc phan tu html la phan content
    */
    box-sizing: border-box; 
    margin-bottom: 30px;
}

.img-card img{
    width: 100%;
}

.card .card-content{
    border: 1px solid #ccc;
    border-radius: 5px;
    /*
        An phan noi dung thua ben ngoai phan tu html
    */
    overflow: hidden;
}

.container{
    margin-top: 50px;
}

.card-body{
    padding: 0 15px 30px;
}

.img-card{
    display: block;
    overflow: hidden;
}

.img-card img:hover{
    /*
        Khi hover vao thi tang hoac giam kich thuoc cua phan tu html len bao nhieu lan
    */
    transform: scale(1.2);
    /*
        Thoi gian di chuyen zoom to len trong bao lau
    */
    transition: 1s;
}

.card-body h3 a{
    display: block;
    text-decoration: none;
    color: #222;
}


/*
    first-of-type: selector toi phan tu html p con dau tien
*/
.card-body p:first-of-type{
    /*
        Chieu cao cua dong text
    */
    line-height: 24px;
    /*
        Khoang cach giua cac tu ngu
    */
    word-spacing: 5px;
    /*
        Khoang cach giua cac chu cai
    */
    /* letter-spacing: 2px; */
    /*
        Doan van ban thut dau dong
    */
    /* text-indent: 15px; */

    /*
        Hien thi dau 3cham: white-space
        wrap: cho phep xuong dong
        nowrap: ko cho phep xuong dong

    */
    white-space: nowrap;
    overflow: hidden;
    /*hien thi dau 3 cham*/
    text-overflow: ellipsis;
}

.price-product{
    /*
        text-align: can chinh text can trai, phai, giua (center)
    
    */
    text-align: right;
    font-size: 23px;
    color: brown;
    font-weight: bold;
    font-style: italic;
}

.card-body button{
    border: 0;
    font-size: 18px;
    color: white;
    background-color: orange;
    padding: 10px 20px;
}

nav{
    /*
        Khi scroll xuong thi gan phan tu html tai vi tri mong muon
        1. Tao phan tu html thanh 1 phan tu 2d (top, left, right, bottom)
        2. Khi scroll den vi tri phan tu html thi gan o vi tri mong muon

    */
    position: sticky;
    top: 0;
    left: 0;
    /*
        uu tien phan tu nao noi len tren.
        z-index cang lon thi cang noi len trn
    */
    z-index: 1;
}

#scroll-top{
    display: block;
    width: 80px;
    height: 80px;
    background-color: #82828282;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    /*
        Position fixed: toa do 2d, dung top, left, right, bottom de thay doi toa do
    */
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 2;
}

html{
    scroll-behavior: smooth;
}

.btn-menu{
    display: none;
}

/*
Responsive
*/
#btn-close{
    display: none;
}

@media(max-width: 1024px){
    .menu > li > a{
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 768px){
    nav{
        position: fixed;
        top:0;
        left: -400px;
        width: 300px;
        /*100% ti le man hinh*/
        height: 100vh;
        transition: 0.5s;
    }
    
    header{
        overflow: auto;
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    
    .menu{
        display: block;
    }
    
    .menu > li > a{
        padding: 20px 15px;
    }
    
    .btn-menu{
        padding-left: 15px;
        display: block;
    }
    
    #btn-close{
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        text-align: center;
        background-color: brown;
        color: white;
        line-height: 50px;
        right: -50px;
        top: 0px;
    }
    
    .content-left{
        width: 260px;
    }
    
    .content-right{
        width: calc(100% - 260px);
    }
    
    .title-sidebar{
        font-size: 16px;
    }
    
    .products .card{
        width: calc(100%/2);
    }
}

/*
all: dung cho tat ca cac loai thiet bi smart va may in
screen: dung cho tat ca cac loai thiet bi smart
sprint: may in
*/
@media screen and (max-width:576px) {
    
}

@media (min-width: 1025px) and (max-width:1366px){
    
}

